body {
    display: block;
    width: 100%;
    background-image: url("./img/squidgame.jpg");
    max-width: fit-content;
    max-height: fit-content;

}
#demo {
    margin: 10px;
    font-size: 1rem;

}
header { 
    position: relative;
    display: inline-block
}
h1 {
    color: rgb(72, 4, 4);
    position: relative;
    z-index: 666;
}


#logInPage {
    padding: 10px;


}

button {
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

#logOutPage {
    display: none;
    font-size:3rem;
    margin: 10px;
    color: rgb(116, 28, 22);
}
.footer {
    position:absolute;
    font-size: 1.5rem;
    bottom: 1px;

    color: rgb(93, 10, 10);
}